.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 12px 8px;
  margin: 20px auto;
  background: #e08e8a;
  border-radius: 4px;
  color: #474241;
  text-align: center;
  transition: 0.3sec ease-in all;
}

.btn:hover {
  color: #474241;
  background-color: #eddbda;
}
